.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;text-transform: none;color:#FDFBFB;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'xr1_PT Sans';font-weight:bold;font-style:normal;font-size:48px;text-decoration:none;text-transform: none;color:#FDFBFB;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:24px;}
.Heading_4 {font-family:'xr4_Open Sans';font-weight:bold;}
.Heading_2 {font-size:32px;background-color:Transparent;}
.Line_Grid_Values {font-family:'Archivo Narrow';font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#FDFBFB;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Line_Chart_Lables {font-family:'xr6_Archivo Narrow';font-weight:bold;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#FDFBFB;-webkit-text-stroke: 0px black;letter-spacing:0em;}
